body {
    padding: 0px;
    margin: 0px;
    width: 100dvw;
    font-family: "calibri", "times new roman";

}

footer {
    text-align: right;
    position: fixed;
    bottom: 0;
    width: 100dvw;
    background-color: #374457;
    color: rgb(94, 94, 94);
    font-size: x-small;
    height: 2.5rem;
}


.name {
    color: white;
    margin-top: 0rem;
    font-size: 42px;
    font-weight: 500;
}

.personal-title {
    font-size: 28px;
    font-weight: bolder;
    color: #21baab;
    margin-top: 0px;
    padding: 0px;
    padding-bottom: 5px;

}

.cv {
    font-size: medium;
    padding: 0px;
}

.icon {
    position: relative;
    top: 1rem;
}

.heading {
    color: white;
}

.text-space {
    padding-left: 5dvw;
    padding-right: 5dvw;
    max-width: 90dvw;
}

.header-text-color {
    background-color: #374457;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.header-contact-color {
    background-color: #29343d;
    height: 3rem;
    position: relative;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: smaller;
    position: absolute;
    top: 1rem;
}

.contact-item {
    display: flex;
    flex-direction: row;
}
a.contact-item:link, 
a.contact-item:visited{
    text-decoration: none;
    color: white;
}

.contact-icon {
    height: 1.5rem;
    width: auto;
    position: relative;
    top: -.25rem;
}

.contact-text {
    padding-left: .25rem;
}

.body-content {
    grid-template-areas: "left line right";
    grid-template-columns: 5fr 1rem 3fr;
    grid-template-rows: 1fr;
    display: grid;
}

.left {
    grid-area: left;

}

.divider-line {
    grid-area: line;
}

.right {
    grid-area: right;

}

.section-heading {
    padding: .35em;
    margin: 0rem;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: underline;
    color: #21baab;
}

.job-experience {
    padding-bottom: 12px;
}

.job-title {
    font-weight: 750;
    font-size: x-large;
}

.co-name {
    font-weight: 600;
    font-size: large;
}

.subtext {
    font-size: smaller;
    color: #21baab;
    padding-left: 0rem;
    font-style: italic;
}

.job-term {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.job-responsibilities {
    padding-top: 0px;
    margin: 0px;
    padding-left: 1rem;
}

ul.job {
    list-style-position: outside;
    margin: 0px;
    padding-left: 1rem;
}


ul.proj {
    list-style-position: inside;
}

.projects-h {
    font-weight: 700;
}

.project {
    font-weight: normal;
    padding-bottom: 1rem;
}

.divider-line {
    width: .2rem;
    margin: 1rem .25rem 1rem .25rem;
    border-radius: .1rem;
    background-color: #21baab;
}

.soft-skills-h {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: center;

}

.soft-skill {
    flex-basis: fit-content;
    justify-content: space-evenly;
    background-color: #21baab;
    border-radius: .2rem;
    padding: .4rem .5rem;
    margin: .25rem;
    font-size: 14px;
    color: white;

}

.hard-skills-h {
    font-weight: 700;
}

.hard-skill {
    font-weight: normal;
}


.vol-experience {
    padding-bottom: 6px;
}

.vol-title {
    font-weight: 550;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

.vol-name {
    font-weight: 600;
    font-size: 14px;
}

.vol-subtext {
    font-size: 12px;
    color: #21baab;
    padding-left: 0rem;
    font-style: italic;
}

.vol-term {
    padding: 0px;
    margin: 0px;
    display: flex;
}

ul.vol {
    list-style-position: inside;
    margin: 0px;
    padding-left: 1rem;
    font-size: 12px;
}

.ivy {
    display: none;
}


.interests {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: center;
}

.interests-item {
    flex-basis: fit-content;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: medium;
    position: relative;
    margin: 0.1rem .5rem;
}

.interest-icon {
    height: 1.5rem;
    width: auto;
    position: relative;
    top: -.15rem;
}

.interest-text {

    padding-left: .25rem;
}